#titleContainer {
  width: 80vw;
  display: flex;
  position: relative;
  top: 40px;
  left: 40px;
}
header {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  
  
}
#top{
  background-color:#5D1049;
  height: 150px;
  width: 1300px;
  border-radius: 10px;
}

#inputBox {
  font-size: 2.5em;
  margin: 0px 20px;
  border-radius: 10px;
  padding-right: 100px;
}

#inputBox::placeholder {
  color: lightgray;
  border-radius: 10px;
}
#resultContainer{
  width: 70vw;
  position: relative;
  top: 100px;
  left: 30px;
  display: flex;
  justify-content: center;
}
#result {
  font-size: 1.8em;
}
#result div{
  margin: 10px 0px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.match {
  background: rgb(180, 230, 80);
}